@charset "UTF-8";

header{
	/*position:fixed;*/
	height: 200px;
	width:10%;
	
}
section{
	
	padding-top:150px;
	padding-bottom:150px;	
	
	
}
footer{
	width:100%;
	height:20vh;
	
	color:white;
	text-align:center;
	position:fixed;
	width:100%;
	
}