@charset "UTF-8";

header{
	position:fixed;
	height: 10vh;
	width:100%;
	padding: 0px;
	margin: 0px
}	
.head{
	margin:0px;
	text-align: center;
	width:800px;
	height:250px;

	}
img{
	background-position: center;
	max-height:60%;
	max-width:60%;
}

.login{
	
   	
	  clear:both;
      position: absolute;
       width: 200;
       height: 30px;
       float: right;
       top: 10px;
       right: 10px;
       overflow: hidden;
	
}
section{
	
	padding-top:150px;
	padding-bottom:150px;	
	
	
}
