@charset "UTF-8";


footer{
	background: radial-gradient(#ff0844 0%, #ffb199 100%) fixed;
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	height: 5%;
	
	
}
.footp{
	text-align: center;
}