@charset "UTF-8";

      #sidebar-left1 {
      position: fixed;
      width: 18%;
      height: 18%;
      margin-left: -8%;
      margin-top:10%;
      border:1px solid #F03861;
      }
      #sidebar-left2 {
      position: fixed;
      width: 18%;
      height: 8%;
      margin-left: -8%;
      margin-top:20%;
       border:1px solid #F03861;
      }