@charset "UTF-8";

      #sidebar-left1 {
      position: fixed;
      width: 18%;
      height: 18%;
      margin-left: -8%;
      margin-top:10%;
      border:1px solid #F03861;
      }
      #sidebar-left2 {
      position: fixed;
      width: 18%;
      height: 8%;
      margin-left: -8%;
      margin-top:20%;
       border:1px solid #F03861;
      }
      .side a{
	 background: linear-gradient(to right top, #861657, #ffa69e);
    color: transparent;
   	-webkit-background-clip: text; 
	font-family: "돋움체";
	font-size: 16px;
}
.side li{
	 background: linear-gradient(to right top, #861657, #ffa69e);
    color: transparent;
   	-webkit-background-clip: text; 
	font-family: "돋움체";
	font-size: 18px;
}
